.side-room {
  background: rgba(0, 0, 0, 0.5);
  background-clip: content-box;
  background-position: bottom;
  text-align: center;
  height: 100%;
  cursor: default;
  width: 20vh;
  min-width: 20vh;

  .seat {
    height: 20%;
    padding: 15px;

    .user-display {
      display: block;
      margin: 0;
      height: 100%;
      width: 100%;
    }

    .free-seat {
      cursor: pointer;

      .in {
        background: url('https://scontent.fsdv3-1.fna.fbcdn.net/v/t1.15752-9/97802024_240626827171480_2267265698860367872_n.png?_nc_cat=109&_nc_sid=b96e70&_nc_ohc=RPxfRBd9JyQAX_xQAZU&_nc_ht=scontent.fsdv3-1.fna&oh=6186f5d99ab384bff9889ff60f22c520&oe=5EEB559F&dl=1');
        background-size: cover;
        background-position: center;
      }
    }
  }
}


.side-room.inside {
  background: rgba(0, 0, 0, 0.5);
  background-clip: content-box;
  background-position: bottom;
  text-align: center;
  width: 50vw;
  cursor: default;
  height: 100%;
  float: left;

  .seat {
    width: 300px;
    height: 300px;
    margin: 15px -50px -100px 0;
    //height: 20%;
    //padding: 15px;
    //display: inline-block;
    display: inline-block;


    .user-display {
      display: inline-block;
      margin: 0;
      height: 100%;
      width: 100%;
    }

  }
}
