.text-message {
  color: #fff;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  margin: 10px 5px;
  background: rgba(255, 255, 255, 0.1);
  padding: 10px;
  vertical-align: middle;
  border-radius: 15px;

  span.text {
    display: block;
  }


  span.emoji {
    font-size:1.4em;
    padding-right: 5px;
  }

  span.nick {
    //font-weight: bold;
    font-size: 1em;
  }
}

.text-message.private {
  background: rgba(139, 0, 0, 0.5);

  span.nick {
    font-weight:bold;
  }
}
