.user-display {
  display: inline-block;
  width: 200px;
  height: 200px;
  vertical-align: top;
  padding: 0 !important;
  margin: 15px;
  position: relative;
  cursor: default;

  .in, video {
    border-radius: 50%;
  }

  .in {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    box-shadow: inset 0 0 50px #000000;
  }

  video {
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    object-fit: cover;
  }

  .id {
    z-index: 5;
    position: absolute;
    top:-10px;
    width: 100%;
    text-shadow: 1px 1px rgba(0, 0, 0, 1);
    text-align: center;
    color: white;
    font-size:1.3em;
  }

  .chat {
    background: white;
    top: 2em;
    z-index: 5;
    position: absolute;
    width: 100%;
    text-align: center;
    opacity: 0.75;
  }

  .emoji {
    cursor: pointer;
    position: absolute;
    z-index: 9;
    font-size: 3em;
    right: -5px;
    top: 20px;
    animation: spin 2s linear infinite;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.75);
  }

  .emoji.mic {
    left:35%;
    top:50%;
    animation: unset;
    right: unset;
    opacity: 0.5;
  }

  &.local-user {

  }

  &.remote-user {

  }

  &.no_video {
    .in {
      background: url('https://1.bp.blogspot.com/-fBzUF3-kifE/VHtWOb_dbfI/AAAAAAAAFtk/A6jYBS4jzbw/s1600/MARCEL_DETTMANN_EFDEMIN_BORS_BIRGINIA.jpg');
      background-size: cover;
    }
  }

  .side-room &.dominant {
    .in {
      box-shadow: inset 0 0 50px red !important;
    }
  }


  @keyframes spin {
    25% {
      -webkit-transform: rotate(-10deg);
      transform: rotate(-10deg);
    }
    75% {
      -webkit-transform: rotate(10deg);
      transform: rotate(10deg);
    }
  }
}
