.options-selector {
  border: 1px solid white;
  text-align: left;
  font-size: 0.75em;
  position: absolute;
  z-index: 1000;
  top: -235px;
  left: 50%;
  transform: translateX(32px);
  background-color: rgba(0, 0, 0, 1);
  color: white;
  border-radius: 6px;
  padding: 6px 10px;

  .header {
    font-weight: bold;
    font-size: 1.2em;
  }

  .header, .input {
    padding: 5px;
  }

  .input.is_active {
    color: green;
  }
}
